header {
    display: flex;
    margin-inline: 50px;
    z-index: 5;
}

nav {
    margin-inline: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapper.hero {
    background-color: blue;
}


#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    z-index: 1000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

#close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 120px;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  
  img{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.parallax__cover{
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

$parallax__layers: 3;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}

header {
    position: fixed;
    width: 100%;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 10%;
    max-width: 600px;
}

h1 {
    font-size: 60px;
    margin-block: 0px;
}

p {
    font-size: 24px;
    margin-block: 5px;
}

.wrapper.hero {
    margin-bottom: 200px;
}

img.moon {
    top: 12%;
}

.track {
    display: flex;
}

#kalender .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.beer {
    position: absolute;
    left: 60%;
    top: 43%;
    transform: rotate(25deg);
}

.wrapper.hero {
    height: 100vh;
}

img.moon {
    position: absolute;
    left: 40%;
}

body {
    margin: 0px;
}